$primary-bg-color: #0d0d1a;
$primary-color: #4b65ed;
$secondary-color: #ff5e5e;
$default-text-color: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  background-color: $primary-bg-color;
}

h1,
p {
  color: $default-text-color;
}

.accent {
  color: $secondary-color;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
